@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');

$text-color: white;


$black-primary: #16181b;
$black-secondary: #121417;
$border-color: #4c4c4c;


$breakpoint-medium: 1224px;
$breakpoint-small: 528px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $black-primary;
    color: $text-color;
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1px;
}

@mixin line-clamp ($lines) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

::-webkit-scrollbar {
    width: 0px;
}